html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    line-height: 1;
    color: #00353F;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    -webkit-text-size-adjust: none;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
}

a {
    color: inherit;
}
.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr50 {
    margin-right: 50px;
}

.mr68 {
    margin: 0 68px;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.container-center {
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*==========header========================*/

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 37px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0;
}

.logo {
    margin-right: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-list li:first-child {
    margin-left: 0;
}

.nav-list li {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    padding: 3px 25px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav-list li:hover {
    background: #199C3D;
}

.instal-apple {
    margin-right: 20px;
}


/*===================intro=================*/

.intro {
    flex-direction: column;
    height: auto;
    position: relative;
    background-size: cover;
    
}

.intro-banner {
    z-index: -1000;
}

.intro-container {
    display: flex;
    position: absolute;
    top: -50%;
    transform: translateY(50%);
}

.intro-content {
    width: 50%;
    margin-top: 40px;
    margin-right: 200px;
}

.intro-photo {
    width: 50%;
}

.intro-photo-size {
    width: 100%;
   
}

.content-title {
    margin-bottom: 30px;
}

.contetnt-subtitle {
    display: flex;
    margin-bottom: 80px;
}

.text-subtitle, .text-red {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 150%;
    color: #FFFFFF; 
}

.text-subtitle {
    margin-right: 10px;
}

.text-red {
    color: #F02B53;
}

.content-text {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #EFFFE7;
}


/* BUTTON ---*/

.butt {
    border-radius: 6px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.butt-mobile {
    display: flex;
    justify-content: space-between;
}

.butt-instal {
    border-radius: 6px;
    padding: 9px 20px 6px 20px;
    justify-content: center;
    align-items: center;
}

.butt-green {
    background: #1FB14D;
    border: 1px solid  #1FB14D;
    color: #fff;
    transition: background-color .2s;
}

.butt-text {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.butt-green:hover {
    background-color: #199C3D;
    border-color: #199C3D;
}

.butt-green-border {
    border: 2px solid #1FB14D;
    color: #16C54D;
}

.butt-green-border:hover {
    color: #16C54D;
    border-color: #16C54D;
}

/***********ICON_FIXET*********/

.icon-social {
    padding: 44px 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 6px 0 0 6px;
    transform: translateY(115%);
}

.icon-fixet {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.video {
    margin-top: 60px;
    margin-bottom: 30px;
}

.title-instal {
    display: flex;
    margin-bottom: 120px;
}

.text-instal {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #1FB14D;
}

.arrow-next {
    display: flex;
    align-items: center;
    align-items: center;
}

.arrow-next::before {
    content: "";
    display: flex;
    margin: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url('../img/icon/next.svg');
}

.sms-apple {
    margin-right: 20px;
}

.info-photo {
    width: 100%;
    margin-bottom: 32px;
}

.info-funtome {
    position: absolute;
    left: 0;
    margin: 133px 0 138px 0;
    width: 50%;
}

.title-info {
    margin-bottom: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 150%;
    color: #F02B53;
}

.text-info {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #333333;

}

.style-text {
    margin-bottom: 10px;
}

/********** DETALIS-TEXT**************/

.detalis-text {
    display: flex;
    margin-bottom: 203px;
}

.text {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #1FB14D;
    align-items: center;
}

/*********CONDITIUNS************/

.conditiuns {
    display: flex;
}

.style-conditions {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FD4B6F;
}


/*********FOOTER********/

.footer {
    margin-top: 30px;
    background-color: #465B6F;
}

.footer-container {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 120px;
}

.footer-funtome {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    justify-content: space-between;
}

.funtome-text {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.icon-style {
    width: 50px;
    height: 55px;
}

.address {
    margin: 0 60px;
}

.footer-contact {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    align-items: center;
    color: #FFFFFF;

}

.icon-social-footer {
    position: absolute;
    bottom: 0;
    padding: 20px 44px;
    display: flex;
    background: #FFFFFF;
    border-radius: 6px 6px 0 0;
    transform: translateX(175%);
    
}

.icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail {
    display: flex;
    
}

.mail::before {
    content: "";
    margin-right: 15px;
    background-image: url('/img/icon/mail.svg');
    width: 34px;
    height: 26px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*********SLIDER**********/


.form-slider {
    position: relative;
    transform: translateY(-60px);  
}

.owl-carousel .owl-nav {
    height: 0;
}

.owl-carousel .owl-nav button span {
    font-size: 0;
}
.owl-carousel .owl-nav button::before {
    content: "";
    display: flex;
    margin: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
}

.owl-carousel .owl-nav button.owl-prev::before {
    background-image: url('../img/icon/prev_slider.svg');
    left: -10px;
    transform: translate(-100%, -50%);
}

.owl-carousel .owl-nav button.owl-next::before {
    background-image: url('../img/icon/next_slider.svg');
    right: -10px;
    transform: translate(100%, -50%);
}

.owl-carousel .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, 100%);
}

.owl-carousel button.owl-dot {
    width: 7px;
    height: 7px;
    padding: 4.5px;
    background: #ECECEC;
    border-radius: 50%;
    margin-right: 15.5px;
}

.owl-carousel button.owl-dot:last-child {
    margin-right: 0;
}

.owl-carousel button.owl-dot.active {
    width: 16px;
    height: 16px;
    padding: 0;
    background: #EB6171;
}

.form-style {
    width: 400px;
}

.owl-slider-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 0;
    width: 100%;
    height: 260px;
}

.photo-style {
    width: 124px;
    height: 124px;
}

.form-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

}

.text-first {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #333333;
    max-width: 380px;
}

.green {
    margin-left: 7px;
    color:#199C3D;
}

.owl-carousel.owl-theme-1 .owl-item img {
    width: auto;
}


