
.intro-features {
    width: 100%;
    height: auto;
    position: relative;
}

.features-container {
    position: absolute;
    /* top: -50%; */
    transform: translateY(90%);
}

.features-banner-title {
    width: 100%;
}

.content-title-features {
    margin-bottom: 50px;
}


/*********Features*******/

.features-group {
    margin: 167px 0 200px;
}

.features-iteam {
    display: flex;
    position: relative;
    margin-bottom: 120px;
}

.features-photo {
    width: 47%;
}

.container-fon {
    width: 560px;
    height: 450px;  
}

.container-img-left {
    position: absolute;
    left: -61px;
    top: -81px;
}

.container-img-right {
    position: absolute;
    right: -44px;
    top: -108px;
}

.features-content {
    width: 53%;
}

.features-title {
    margin-bottom: 30px;
    position: relative;
}

.title {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 150%;
    color: #F02B53;
}

.features-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #333333;
}

.mb30 {
    margin-bottom: 30px;
}

/*********Features_End*******/

/* BUTTON ---*/

.butt-text-green {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    letter-spacing: 0.15em;
    color: #1FB14D;
}

.butt-group {
    display: flex;
}





