
.news-blog-first {
    margin: 75px 0 29px 0;
}

.news-data {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.news-data-name {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    background-color: #F02B53;
    margin-right: 76px;
    padding: 3px 4px;
}

.news-name-title {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 150%;
    text-transform: capitalize;
    color: #F02B53;
    margin-bottom: 20px;
}

.news-like-social {
    display: flex;
    justify-content: space-between;
}

.news-like-view {
    display: flex;
}

.news-view {
    display: flex;
    align-items: center;
    margin-right: 33px;
}

.view {
    margin-right: 10px;
}

.like {
    margin-right: 10px;
}

.news-like {
    display: flex;
    align-items: center;
}

.news-social-syle {
    margin-right: 12px;
}

/* Text-content */

.text-content {
    display: flex;
    margin-top: 35px;
}

.news-content {
    width: 61%;
}

.news-content-text {
    margin-bottom: 20px;
}

.news-title {
    margin-bottom: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #1FB14D;
}

.news-subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 10px;
}

.photo-str-1 {
    margin: 20px 0 30px 0;
    width: 100%;
}

/* News-bar */

.news-bar {
    width: 45%;
    max-width: 390px;
    margin-left: 67px;;
}

.blok-article {
    margin-bottom: 50px;
}

.blok-search {
    margin-bottom: 50px;
}

.article-text {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #F02B53;
    margin-bottom: 20px;
}

.blok-content {
    display: flex;
}

/* .blok-content-title {
    display: block;
} */

.blok-content {
    margin-bottom: 20px;
}

.blok-img {
    max-width: 137px;
    height: auto;
}

.blok-content-text {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
}    

.blok-content-data {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #666666;
}

.blok-content-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-categories-link {
    height: 46px;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 260%;
    position: relative;
    color: #5E6973;
}

.nav-categories-blok {
    
}

.nav-categories-blok li::after {
    content: "";
    width: 398px;
    height: 1px;
    background: #F7F7F7;
    position: absolute;
    top: 1px;
    left: 0;
    z-index: -1000;

}

.nav-categories-blok li:first-child::after {
    display: none;
}

