
.block-menu-bar {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

.sorting-pak-style {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #222222;
    margin-right: 20px;
}

input[type=radio] {display: none;}

input[type=radio] + label:before {
    content: "\2714";
    color: transparent;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    font-size: 36px;
    font-weight: 900;
    line-height: 22px;
    margin-right: 10px;
    height: 26px;
    width: 26px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=radio]:checked + label:before {
    color: #1FB14D;
    border-color: #E5E5E5;
}

.sorting-bold {
    font-weight: 500;
    margin-right: 25px;
}

.search-block {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 370px;
    height: 55px;
    padding: 0 20px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-search-pak {
    margin-right: 15px;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #222222;
}

button[type="submit"] {
    margin-top: 2px;
    padding: 0 0;
    width: 28px;
    height: 28px;
    border: none;
    background-size: 100%;
    background-image: url(/img/funtome-paki/Search.png);
    background-repeat: no-repeat;
    background-color:transparent;
}

   input[type="text"] {
    width: 280px;   
    border: none;
    outline: none;
    -webkit-appearance: none;
    vertical-align: middle;
   }

.input-search-pak {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 135%;
    color: #333333;
}

.structure {
    display: flex;
    float: right;
}

.paki-list {
    width: 55px;
    height: 55px;
    display: block;
    background-image: url(/img/funtome-paki/paki-list.svg);
    background-repeat: no-repeat;
    margin-right: 20px;
    cursor: pointer;
}

.paki-list.active {
    background-image: url(/img/funtome-paki/paki-list-active.svg);
}

.paki-tabl {
    width: 55px;
    height: 55px;
    display: block;
    background-image: url(/img/funtome-paki/paki-tabl.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.paki-tabl.active {
    background-image: url(/img/funtome-paki/paki-tadl-active.svg);
}

.paki-catalog {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.card-paki {
    width: calc((100% - 99px)/4);
    height: 450px;
    margin-left: 33px;
    margin-bottom: 100px;
    position: relative;
}

.card-paki:nth-child(4n+1) {
    margin-left: 0;
}

.photo-paki {
    display: flex;
    position: relative;
}

.svg-style {
    filter: drop-shadow(0px 0px 5px rgba(98, 98, 98, 0.3));
    margin-left: -8px;
    width: 290px;
    height: 300px;
    border-radius: 8px;
}

.description-paki {
    display: flex;
    margin-top: -15px;
    width: 283px;
    height: 160px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #EEEEEE;
    background: white;
}

.border-paki {
    width: 100%;
    padding: 28px 15px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-paki {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 120%;
    color: #1FB14D;
}

.subtitle-paki {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
}

.tabl-paki {
    display: flex;
}

.title-paki-style {
    width: 100%;
    margin-left: 20px;
}

.paki-catalog.style-row .card-paki {
    width: 100%;
    height: auto;
    display: flex;
    margin-left: 0;
}

.paki-catalog.style-row .svg-style {
    width: 240px;
    height: 252px;
}

.paki-catalog.style-row .description-paki {
    margin-top: 5px;
    width: 100%;
    height: 252px;
    border: none;
    margin-left: 20px;
}

.paki-catalog.style-row .border-paki {
    padding: 0;
    justify-content: flex-start;
    position: relative;
}

.paki-catalog.style-row .list-butt::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(/img/funtome-paki/butt-megasse.svg);
    background-size: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: linear .2s;
}    

.turn::before {
    transform: rotate(180deg);
}

.paki-catalog.style-row .title-paki {
    margin-bottom: 70px;
    
}

.paki-catalog.style-row .subtitle-paki {
    margin-bottom: 32px;
}

.paki-catalog.style-row .list {
    display: flex;
    flex-wrap: wrap;
}

/* .card-paki.style-message .list-message {
    display: flex;
    flex-wrap: wrap;
} */

.paki-catalog.style-row .list-iteam {
    width: calc((100% - 180px)/4);
    margin-right: 60px;
    margin-top: 12px;
    list-style-type: none;
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #222222;
}

.paki-catalog.style-row .list-iteam:nth-child(4n+4) {
    margin-right: 0;
}

.list {
    display: none;
}

.paki-catalog.style-row .list {
    display: flex;
}

.list-message {
    position: relative;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.card-paki.style-message .list-message {
    height: auto;
}

.card-paki.style-message .description-paki {
    height: 410px;
    transition: all .25s;
}

.card-paki.style-message {
    margin-bottom: 70px;
}

/*********section-pages*******/

.section-pages {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.pages-style {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140.62%;
    color: #5E6973;
    margin-left: 18px;
}

.pages li:first-child {
    margin-left: 0;
}

.active {
    font-style: bold;
    font-size: 26px;
    color: rgb(0, 0, 0);
}

/* Slider-box */

.slider-box .item {
    padding: 25px 8px 0 8px;
}

.slider-box {
    margin-bottom: 200px;
}

.slider-box .card-paki {
    width: 285px;
}

.slider-title {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 150%;
    color: #FD4B6F;
    margin-bottom: 52px;
}

/* New Live */

.photo-paki-style.live::before {
    content: "";
    width: 96px;
    height: 70px;
    background-image: url(/img/funtome-paki/LIVE.png);
    background-size: 100%;
    position: absolute;
    top: -25px;
    right: 50%;
    transform: translate(50%);
    z-index: 1000;
}

.photo-paki-style.new::after {
    content: "";
    width: 96px;
    height: 70px;
    background-image: url(/img/funtome-paki/NEW.png);
    background-size: 100%;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
}

.photo-paki-style.live.new::before {
    right: 0;
    transform: translate(0);
}

.photo-paki-style.new.live::after {
    left: -5px;
    transform: translate(0);
}





