@media screen and (min-width: 1921px) {


}

@media screen and (max-width: 1280px) {

    /* Media header + intro */

    .paki {
        background-image: url('/img/funtome-paki/photo-paki-tabl.jpg');
    }

    .features-container {
        margin-top: 22px;
    }

    .content-title-features {
        margin-bottom: 24px;
    }

    .contetnt-subtitle {
        margin-bottom: 0;
    }

    .content-text {
        width: 100%;
        margin-top: 47px;
        margin-bottom: 0;
    }

    .features-container br {
        display: none;
    }

    /* Bar */

    .block-menu-bar {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .search-block {
        order: 2;
        width: 100%;
    }

    .structure {
        margin-bottom: 40px;
    }

    input[type="text"] {
        width: 100%;
    }

    /* Paki */

    .paki-catalog {
        max-width: 768px;
        width: 100%;
        
        align-items: center;
    }

    .box-paki {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card-paki {
        width: calc((100% - 48px)/2);
        height: auto;
    }

    .svg-style {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-left: -3px;
    }

    .description-paki {
        width: 100%;
        max-width: 100%;
    }

    .photo-paki-style {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .card-paki:nth-child(2n+1) {
        margin-left: 0;
    }
    
    .section-pages {
        margin-top: 0;
        margin-bottom: 100px;
    }

    .slider-title {
        font-size: 40px;
    }

    .slider-box {
        margin-bottom: 150px;
    }

    /* Slider */

    .owl-carousel.owl-theme-3 .owl-nav button.owl-prev::before {
        left: 27%;
        top: 104%;
    }

    .owl-carousel.owl-theme-3 .owl-nav button.owl-next::before {
        right: 27%;
        top: 104%;
    }


    /* Style-row */

    .paki-catalog.style-row .list-iteam {
        width: 340px;
    }

    .paki-catalog.style-row .svg-style {
        width: 340px;
        height: auto;
    }

    .paki-catalog.style-row .description-paki {
        height: auto;
    }

    .paki-catalog.style-row .list {
        height: 78px;
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {

    /* Media header + intro */

    .content-title-features {
        margin-bottom: 15px;
    }

    .h1-ru {
        margin-bottom: 0;
    }

    .paki {
        background-image: url('/img/funtome-paki/photo-paki-mob.jpg');
        height: 610px;
        border-radius: 0 0 32px 32px;
    }

    .intro.paki .border-box {
        width: 100%;
        max-width: 100%;
        height: 612px;
        background: linear-gradient(180deg, #989898 46.93%, #465B6F 95.86%);
        position: absolute;
        border-radius: 0 0 32px 32px;
        z-index: -1;
    }

    .intro.paki .container {
        height: 100%;
    }

    
    .intro.paki .features-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 7px;
    }

    .intro.paki .features-banner-title {
        height: 100%;
    }

    .intro.paki .content-text {
        padding: 0;
        color: #FFFFFF;
    }

    .content-title-features {
        margin-bottom: 14px;
    }

    .content-text {
        margin-top: 0;
    }

    /* Bar */

    .content-block.paki-margin {
        margin-top: 100px;
    }

    .sorting-pak {
        display: flex;
        flex-direction: column;
    }

    .sorting-pak-style {
        margin-bottom: 19px;
        margin-right: 0;
        font-size: 15px;
    }

    .structure {
        margin-bottom: 0;
        margin-top: -79px;
    }

    .block-menu-bar {
        margin-top: 15px;
    } 

    .paki-list,
    .paki-tabl {
        width: 40px;
        height: 40px;
    }

    .paki-list {
        margin-right: 10px;
    }

    .input-search-pak {
        font-size: 16px;
    }


    /* Paki */

    .card-paki {
        width: 100%;
        margin-left: 0;
        margin-bottom: 80px;
    }


    .section-pages {
        margin-bottom: 69px
    }

    .slider-title {
        font-size: 30px;
    }

    .slider-box {
        margin-bottom: 120px;
    }

    .title-paki {
        font-size: 24px;
    }

    .subtitle-paki {
        font-size: 16px;
    }

    .paki-catalog .title-paki {
        margin-bottom: 47px;

    }

    .owl-carousel.owl-theme-3 .owl-dots {
        display: none;
    }

    /* Style-row */ 

    .paki-catalog.style-row .card-paki {
        flex-direction: column;

    }

    .paki-catalog.style-row .description-paki {
        margin-left: 0;
        border: 2px solid #EEEEEE;
        padding: 31px 15px 16px;
        margin-top: -15px;
    }

    .paki-catalog.style-row .list-iteam {
        font-size: 18px;
        margin-right: 0;
    }
     
}


@media screen and (max-width: 359px) {

    
}    