/* Intro style */

.blog {
    background-image: url('/img/funtome-blog/blog-photo-desc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-container {
    width: 100%;
    margin-top: 194px;
}

.blog-banner-title {
    width: 100%;
}

.content-title-blog {
    margin-bottom: 63px;
}

/* Blog Menu */

.blog-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 139px;
    justify-content: center;
}

.blog-menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.blog-menu-nav li {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 140%;
    color: #F02B53;
    margin-left: 50px;

}

.blog-menu-nav li:first-child {
    margin-left: 0;
}

.link-news {
    position: relative;
}

.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: #F02B53;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    transition: opacity .1s linear;

}

.nav-link:hover::after {
    opacity: 1;
}

/* News */

.news {
    margin-bottom: 50px;
}

.news-title-first {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 150%;
    color: #1FB14D;
    margin-bottom: 50px;
}

.news-iteam {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    justify-content: space-between;
}

.news-section:nth-child(1) {
    margin: 0;
}

.news-section:nth-child(2) {
    margin: 0;
}

.news-section {
    width: calc((100% - 80px) / 2);
    margin-top: 50px;
    margin-bottom: 50px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img-news {
    width: 100%;
    display: block;
    height: auto;
}

.news-title {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #F02B53;
    margin-top: 20px;
    margin-bottom: 15px;
}

.news-subtitle {
    margin-bottom: 40px;
}

.style-text-blog {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #333333;
}

.bold {
    font-weight: bold;
}

.news-like-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.like {
    display: flex;
}

.collum-first {
    display: flex;
    margin-right: 30px;
}

.view {
    display: block;
    margin-right: 10px;
}

.quantity {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #5E6973;
}

.collum-second {
    display: flex;
}

.news-data {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;    
    color: #5E6973;
}

/* Section-pages */

.section-pages {
    width: 100%;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.pages-style {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140.62%;
    color: #5E6973;
    margin-left: 18px;
}

.pages li:first-child {
    margin-left: 0;
}

.active {
    font-style: bold;
    font-size: 26px;
    color: rgb(0, 0, 0);
}




