/* Intro style */

.block-str-first {
    height: 0;
}

.link-home {
    color: black;
}

.link-home:hover {
    color: white;
}






.news-blog-first {
    margin: 159px 0 29px 0;
}

.news-data {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.news-data-name {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    background-color: #F02B53;
    margin-right: 76px;
    padding: 3px 4px;
}

.news-data-data {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #5E6973;
}

.news-name-title {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 150%;
    text-transform: capitalize;
    color: #F02B53;
    margin-bottom: 20px;
}

.news-like-social {
    display: flex;
    justify-content: space-between;
}

.news-like-view {
    display: flex;
}

.news-view {
    display: flex;
    align-items: center;
    margin-right: 33px;
}

.view {
    margin-right: 10px;
}

.like {
    margin-right: 10px;
}

.news-like {
    display: flex;
    align-items: center;
}

.news-social-syle {
    margin-right: 12px;
}

/* Text-content */

.text-content {
    display: flex;
    margin-top: 35px;
    margin-bottom: 70px;
}

.news-content {
    width: 61%;
}

.news-content-text {
    margin-bottom: 20px;
}

.news-title {
    margin-bottom: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #1FB14D;
}

.news-subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 10px;
}

.photo-str-1 {
    margin: 20px 0 30px 0;
    width: 100%;
}

/* News-bar */

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #D5D5D5;
}

.news-bar {
    width: 45%;
    max-width: 390px;
    margin-left: 67px;;
}

.blok-search {
    display: flex;
    margin-bottom: 50px;

}

.input-search {
    width: 350px;
    height: 37px;
    padding: 8px 12px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #5E6973;
    box-sizing: border-box;
    border-radius: 3px;
}

.search {
    margin-top: 4px;
    padding: 0 0;
    width: 28px;
    height: 28px;
    border: none;
    background-size: 100%;
    background-image: url(/img/funtome-paki/Search.png);
    background-repeat: no-repeat;
    background-color:transparent;
}

/* .search-photo {
    max-width: 100%;
} */

.blok-categories {
    margin: 50px 0;
}

.article-text {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #F02B53;
    margin-bottom: 20px;
}

.blok-content {
    display: flex;
}

/* .blok-content-title {
    display: block;
} */

.blok-content {
    margin-bottom: 20px;
}

.blok-img {
    background-image: url('/img/funtome-blog/photo/854ea8910c9911c841e845e7743753ab.png');
    max-width: 137px;
    height: auto;
}

.blok-content-text {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
}    

.blok-content-data {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #666666;
}

.blok-content-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-categories-link {
    height: 46px;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 260%;
    position: relative;
    color: #5E6973;
}

.nav-categories-blok li::after {
    content: "";
    width: 398px;
    height: 1px;
    background: #F7F7F7;
    position: absolute;
    top: 1px;
    left: 0;
    z-index: -1000;

}

.nav-categories-blok li:first-child::after {
    display: none;
}

.nav-icon {
    display: flex;
    align-items: flex-end;
}

.nav-icon-link {
    justify-content: center;
    align-items: center;
}

.nav-icon-link-img {
    justify-content: center;
    margin-right: 15px;
}


/* Section-comments */

.section-comments {
    position: relative;
    margin-bottom: 100px;
}

.title-comments {
    display: flex;
    margin-bottom: 32px;
}

.title-comments-style {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 150%;
    text-transform: capitalize;
    color: #F02B53;
}

.bold-style {
    font-weight: 700;
}

.comments-form {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.add-comments {
    width: 920px;
    height: 121px;
    display: flex;
    justify-content: center;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 4px #DCDCDC;
    border-radius: 18px;
}

.comments-text {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #5E6973;
}

.comments-form-text {
   padding: 20px 0;
}

.sing-in-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #333333;
}

.text-green {
    font-weight: 500;
    color: #199C3D;
}

/* User-comments-block */

.user-comments {
    display: flex;
    margin-bottom: 41px;
}

.block-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.user-name {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
   
}

.name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #C87283;
}

.data {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #888888;

}

.user-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 135%;
    color: #333333;
    margin-bottom: 30px;

}

.user-replay {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #888888;

}

.block-replay {
    display: flex;
    margin-top: 20px;
}

.replay-comments {
    margin-bottom: 10px;
}

.replay-form {
    max-width: 100%;
    width: 886px;
    height: 40px;
    padding: 14px 17px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #8F8F8F;
    border: 1px solid rgba(94, 105, 115, 0.3);
    border-radius: 4px;
    
}

/* Replay button */


.replay-button {
    display: flex;
    justify-content: flex-end;
}

.butt-border {
    border-radius: 6px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 2px solid #EAEAEA;
}

.butt-border-text {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #A6A6A6;
}

.butt-border:hover  {
    border: 2px solid #1FB14D;
}

.butt-border-text:hover {
    color:  #1FB14D;
    transition: color .1s linear;
}

/* form-user-comments-text */

.form-user-comments-text {
    display: flex;
    margin-bottom: 96px;
    
}

.form-border {
    width: 100%;
    box-shadow: 0px 0px 4px #DCDCDC;
    border-radius: 18px;
    padding: 20px 110px;
}

.form-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #5E6973;
}

.block-user-photo-text {
    display: flex;

}

.user-form-text {
    margin-bottom: 30px;
}

.user-from-text-style {
    width: 860px;
    height: 260px;
    padding: 13px 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 135%;
    color: #333333;
    border: 1px solid rgba(94, 105, 115, 0.3);
    box-sizing: border-box;
    border-radius: 6px;
}

.button-mess {
    display: flex;
}

/* .butt-border-message:hover {
    border: 2px solid #1FB14D;
    color:  #1FB14D;
    transition: color .1s linear;

} */

.butt-border-message {
    padding: 17px 30px;
    border: 2px solid #1FB14D;
    box-sizing: border-box;
    border-radius: 3px;
}

.butt-border-message-style {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color:  #1FB14D;
}


/* User form */

.form {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 860px;
    height: 560px;
    max-width: 100%;
    padding: 20px 30px;
    box-shadow: 0px 0px 4px #DCDCDC;
    border-radius: 18px;
    background-color: #FFFFFF;
    display: none;
}

.form.active {
    display: block;
}

.modal {
    position: fixed;
    z-index: 100;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    
}

.title {
    width: 100%;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #5E6973;
}

.block {
    display: flex;
    margin-top: 14px;
    margin-bottom: 45px;
}

.block-text {
    margin-right: 61px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #333333;
}

.form-iteam {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.form-first-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-flex {
    margin-bottom: 40px;
}

.form-flex2 {
    margin-bottom: 20px;
}

.form-flex__mail,
.form-flex__password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    padding: 14px;
    border: 1px solid rgba(94, 105, 115, 0.3);
    border-radius: 6px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #333333;
}

.form-iteam {
    width: 356px;
    border: none;
    outline: none;

}

.butt-form {
    margin-top: 2px;
    padding: 0 0;
    width: 21px;
    height: 14px;
    border: none;
    background-size: 100%;
    background-image: url(/img/funtome-blog/view-password.svg);
    background-repeat: no-repeat;
    background-color: transparent;
}

.consent {
    text-align: center;
    margin-bottom: 20px;
}

.consent-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.text-link {
    color: #465B6F;
    text-decoration: underline;

}

input[type=checkbox] {display: none;}

input[type=checkbox] + label:before {
    content: "\2714";
    color: transparent;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    width: 15px;
    height: 15px;
    border: 1px solid #ACACAC;
    border-radius: 2px;
}

input[type=checkbox]:checked + label:before {
    color: #0A9135;
    border-color: #ACACAC;
}

.center {
    justify-content: center;
    align-items: center;
}

.block-text span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #199C3D;
}

.form_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 99;
    display: none;
}

.open-class3 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}
