@media screen and (max-width: 1280px) {

    /* Media header + intro */

    .features {
        background-image: url('/img/funtome-features/banner/banner-features-tabl.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .features-container {
        margin-top: 34px;
    }
    
    .content-title-features {
        margin-bottom: 24px;
    }

    /* Content block */

    .features-title {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0;
    }

    .features-iteam {
        flex-direction: column;
        margin-bottom: 90px;
        padding-top: 184px;
    }

    .features-iteam:nth-child(2n+2) {
        flex-direction: column-reverse;
    }

    .features-group {
        margin-top: 80px;
    }

    .features-photo {
        width: 100%;
        height: auto;
    }

    .container-img-left {
       position: static;
    }

    .features-content {
        width: 100%;
        margin-top: 20px;
    }

    .container-img-right {
        position: static;
    }

    .number {
        width: 243px;
        height: 173px;
    }


    /* Media style index */
    
    .intro {
        height: 117.1875vw;
    }

    .burger {
        display: block;
    }

    .nav {
        display: none;
    }

    .logo {
        width: 50px;
        height: 45px;
    }

    .local-switch {
        width: 34px;
        height: 34px;
        font-size: 18px;
        line-height: 21px;
    }

    .instal-apple {
        width: 26px;
        height: 33px;
        margin-right: 26px;
    }

    .instal-google {
        width: 26px;
        height: 29px;
    }    

    .h1-ru {
        font-size: 70px;
        text-align: center;
    }

    .contetnt-subtitle {
        margin-bottom: 47px;
       justify-content: center;
    }

    .text-red {
        font-size: 20px;
        text-align: center;
    }

    .content-text {
        font-size: 18px;
    }

    .title {
        font-size: 40px;
    }

    /* Footer */

    .footer-funtome {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-icon {
        margin-bottom: 50px;
    }

    .funtome-text {
        margin-bottom: 50px;
        font-size: 40px;
    }

    .arrow-next {
        display: none;
    }

    .icon-style {
        width: 49px;
        height: 45px;
    }

    .footer-contact {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {

    /* Media header + intro */

    .features {
        background-image: url('/img/funtome-features/banner/banner-features-mobl.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .features-container {
        margin-top: 0px;
    }

    .content-title-features {
        margin-bottom: 14px;
    }

    /* Content block */

    .features-group {
        margin-top: 70px;
    }

    .features-text {
        font-size: 15px;
    }

    .number {
        width: 182px;
        height: 123px;
    }

    .features-iteam {
        margin-bottom: 70px;
        padding-top: 123px;
    }

    /* Media style index */

    .intro {
        height: 169.4444vw;
    }

    .logo {
        width: 31px;
        height: 28px;
    }

    .local-switch {
        width: 26px;
        height: 26px;
        font-size: 13px;
        line-height: 15px;
    }

    .instal-apple {
        width: 21px;
        height: 27px;
        margin-right: 20px;
    }

    .instal-google {
        width: 21px;
        height: 23px;
    }
    
    .burger__item {
        width: 26px;
        height: 3px;
        border-radius: 3px;

    }

    .h1-ru {
        font-size: 40px;
        text-align: center;
        -webkit-text-stroke: 1px white;
    }

    .text-red {
        font-size: 15px;
        text-align: center;
    }

    .content-text {
        display: none;
    }

    .conditiuns {
        flex-direction: column;
        align-items: center;
    }

    .style-conditions,
    .style-conditions-pol {
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        margin-right: 0;
    }

    .style-conditions {
        margin-bottom: 20px;
    }

    .title {
        font-size: 30px;
    }

    /* Footer */

    .footer-icon {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .funtome-text {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .footer-funtome {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer-contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .address {
        margin: 10px 0 10px 0;
    }
}