@media screen and (min-width: 1921px) {

    

}


@media screen and (max-width: 1280px) {

    /* Media header + intro */

    .features {
        background-image: url('/img/funtome-features/banner/banner-features-tabl.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .features-container {
        margin-top: 34px;
    }
    
    .content-title-features {
        margin-bottom: 24px;
    }

    /* Content block */

    .features-title {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0;
    }

    .features-iteam {
        flex-direction: column;
        margin-bottom: 90px;
        padding-top: 184px;
    }

    .features-iteam:nth-child(2n+2) {
        flex-direction: column-reverse;
    }

    .features-group {
        margin-top: 80px;
    }

    .features-photo {
        width: 100%;
        height: auto;
    }

    .container-img-left {
       position: static;
       width: 100%;
    }

    .features-content {
        width: 100%;
        margin-top: 20px;
    }

    .container-img-right {
        position: static;
        width: 100%;
    }

    .number {
        width: 243px;
        height: 173px;
    }

    .title {
        font-size: 40px;
    }

}

@media screen and (max-width: 767px) {

    /* Media header + intro */

    .features {
        background-image: url('/img/funtome-features/banner/banner-features-mobl.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .features-container {
        margin-top: 0px;
    }

    .content-title-features {
        margin-bottom: 14px;
    }

    /* Content block */

    .features-group {
        margin-top: 70px;
    }

    .features-text {
        font-size: 15px;
    }

    .number {
        width: 182px;
        height: 123px;
    }

    .features-iteam {
        margin-bottom: 70px;
        padding-top: 123px;
    }

    .title {
        font-size: 30px;
    }


}

@media screen and (max-width: 359px) {
    
}