@media screen and (min-width: 1921px) {

    

}


@media screen and (max-width: 1280px) {

    .home {
        background: url('/img/funtome-home/banner/header-photo_tabl.jpg');
        background-position: center;
        background-repeat: no-repeat;
      }

    /* Media style index */
    
    .intro {
        height: 117.1875vw;
    }

    .intro-container {
        margin-top: 0;
        width: 100%;
        flex-direction: column;
    }

    .intro-content {
        width: 100%;
        margin-top: 34px;
        margin-right: 0;
    }

    .burger {
        display: block;
    }

    .nav {
        display: none;
    }

    .logo {
        width: 50px;
        height: 45px;
    }

    .local-switch {
        width: 34px;
        height: 34px;
        font-size: 18px;
        line-height: 21px;
    }

    .instal-apple {
        width: 26px;
        height: 33px;
        margin-right: 26px;
    }

    .instal-google {
        width: 26px;
        height: 29px;
    }    

    .h1-ru {
        font-size: 70px;
        text-align: center;
    }

    .contetnt-subtitle {
       justify-content: center;
    }

    .text-red {
        font-size: 20px;
        text-align: center;
        color: #FD4B6F;
    }

    .content-text {
        width: 70%;
        font-size: 18px;
    }

    .title {
        font-size: 40px;
    }

    .content-title {
        margin-bottom: 20px;
    }

    .text-subtitle {
        font-size: 20px;
        margin-right: 0;
    }

    .intro-photo {
        display: none;
    }
    
    #video {
        width: 100%;
        background-size: cover;
    }

    .video {
        margin-top: 80px;
    }

    .info-funtome {
        position: static;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .text {
        font-size: 20px;
    }

    .detalis-text {
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
    }

    /* Slider */

    .form-style {
        width: 100%;
    }

    .photo-style {
        width: 100px;
    }


    .title-instal {
        margin-bottom: 90px;
        align-items: center;
    }

    .title-info {
        font-size: 40px;
    }

    .text-instal {
        font-size: 20px;
    }

    .text-first {
        font-size: 17px;
    }

    .text-info {
        font-size: 18px;
    }


    /* Footer */

    .footer-funtome {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-icon {
        margin-bottom: 50px;
    }

    .funtome-text {
        margin-bottom: 50px;
        font-size: 40px;
    }

    .footer-funtome .arrow-next {
        display: none;
    }

    .icon-style {
        width: 49px;
        height: 45px;
    }

    .footer-contact {
        font-size: 16px;
    }

}







@media screen and (max-width: 767px) {

    .home {
        background: url('/img/funtome-home/banner/header-photo_mobile.jpg');
        background-position: center;
        background-repeat: no-repeat;
      }

    /* Media style index */

    .intro {
        height: 169.4444vw;
    }

    .logo {
        width: 31px;
        height: 28px;
    }

    .local-switch {
        width: 26px;
        height: 26px;
        font-size: 13px;
        line-height: 15px;
    }

    .instal-apple {
        width: 21px;
        height: 27px;
        margin-right: 20px;
    }

    .instal-google {
        width: 21px;
        height: 23px;
    }
    
    .burger__item {
        width: 26px;
        height: 3px;
        border-radius: 3px;

    }

    .h1-ru {
        font-size: 40px;
        text-align: center;
        -webkit-text-stroke: 1px white;
    }

    .text-red {
        font-size: 15px;
        text-align: center;
    }

    .title-instal {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 70px;
    }

    .text-instal {
        width: 100%;
        font-size: 17px;
        margin-bottom: 15px;
    }

    .header-instal {
        align-items: flex-end;
    }

    .arrow-next::before {
        margin-left: 0;
    }

    .title-info {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .text-info {
        font-size: 15px;
    }

    .info-funtome {
        width: 100%;
    }

    .content-text {
        display: none;
    }

    /* Slider */

    .slider {
        margin-top: 30px;
    }

    .form-slider {
        width: 100%;
        transform: none;
    }

    .owl-carousel.owl-theme-1 .owl-nav button.owl-prev::before {
        width: 20px;
        background-image: url('/img/icon/prev_slider_tabl.svg');
    }
      
      .owl-carousel.owl-theme-1 .owl-nav button.owl-next::before {
          width: 20px;
        background-image: url('/img/icon/next_slider_tabl.svg');
    }

    .owl-carousel.owl-theme-1 .owl-dots {
        margin-top: 0;
        bottom: 0;
        transform: translate(50% 50%);
    }

    .slide {
        height: auto;
    }

    .video {
        margin-top: 106px;
        margin-bottom: 20px;
    }

    .detalis-text {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .text {
        width: 100%;
        font-size: 17px;
        margin-bottom: 15px;
    }

    .conditiuns {
        flex-direction: column;
        align-items: center;
    }

    .style-conditions,
    .style-conditions-pol {
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        margin-right: 0;
    }

    .style-conditions {
        margin-bottom: 20px;
    }

    .title {
        font-size: 30px;
    }

    /* Footer */

    .footer-icon {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .funtome-text {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .footer-funtome {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer-contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .address {
        margin: 10px 0 10px 0;
    }

}












@media screen and (max-width: 359px) {
    
    .h1-ru {
        font-size: 30px;
        text-align: center;
        -webkit-text-stroke: 1px white;
    }

    .butt-mobile {
        flex-direction: column;
    }

    .footer-funtome .butt-green-border {
        margin-bottom: 15px;
    }

    .footer .butt-mobile :first-child {
        margin-right: 0;
    }

    .funtome-text {
        text-align: center;
    } 

    .footer-contact {
        font-size: 12px;
    }

    .mail::before {
        display: none;
    }

    .style-conditions-pol {
        line-height: 2;
    }
}    

     