@media screen and (min-width: 1921px) {

    

}


@media screen and (max-width: 1280px) {

    .intro-container .box-intro {
        margin-left: 31.51041vw;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .home {
        background-image: url('/img/funtome-home/banner/header-photo_tabl.jpg');
    }


    /* Media style index */
    
    .intro {
        height: 117.1875vw;
    }

    .intro .icon-social {
        padding: 10px 7px;
        background: rgba(255, 255, 255, 0.85);
    }

    .icon-vk::before {
        width: 27px;
        height: 16px;
    }
      
    .icon-fb::before {
        width: 15px;
        height: 28px;
    }
      
    .icon-instagram::before {
        width: 27px;
        height: 27px;
    }
      
    .icon-youtube::before {
        width: 27px;
        height: 21px;
    }

    .intro-container {
        margin-top: 0;
        width: 100%;
        flex-direction: column;
    }

    .intro-content {
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
    }

    .burger {
        display: block;
    }

    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .nav.show {
        display: block;
    }

    .nav-list {
        width: 100%;
        background-color:#465B6F;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0 0 30px 30px;
    }

    .link-home {
        padding: 29px 20px 48px;
    }

    .logo {
        width: 50px;
        height: 45px;
    }

    .local-switch {
        width: 34px;
        height: 34px;
        font-size: 18px;
        line-height: 21px;
    }

    /* Butt */

    .box-intro .butt-instal {
        padding: 8px 16px;
    }

    .butt-apple,
    .butt-google {
        height: 55px;
    }

    .instal-apple {
        width: 26px;
        height: 33px;
        margin-right: 26px;
    }

    .instal-google {
        width: 26px;
        height: 29px;
    }

    .instal-img-app {
        width: 129px;
        /* height: 38px; */
    }
      
    .instal-img-google {
        width: 147px;
        /* height: 36px; */
    }

    .butt-instal {
        padding: 8px 15px;
    }
    
    .intro-container .butt-mobile > :first-child {
        margin-right: 25px;
    }

    .h1-ru {
        font-size: 70px;
        text-align: center;
        -webkit-text-stroke: 2px white;
    }

    .h1-ru-white {
        width: 100%;
        font-size: 50px;
        top: 39px;
        left: 0;
        -webkit-text-stroke: 0.376016px rgba(0, 0, 0, 0.4);
    }

    .contetnt-subtitle {
       justify-content: center;
       margin-bottom: 190px;
    }

    .text-red {
        font-size: 20px;
        text-align: center;
    }

    .content-text {
        width: 369px;
        font-size: 18px;
    }

    .title {
        font-size: 40px;
    }

    .content-title {
        margin-bottom: 40px;
    }

    .text-subtitle {
        font-size: 20px;
        margin-right: 0;
    }

    .intro-photo {
        display: none;
    }
    
    #video {
        width: 100%;
        background-size: cover;
    }

    #play {
       width: 65px;
        height: 65px;
        background-size: cover;
    }    

    .video {
        margin-top: 80px;
        margin-bottom: 24px;
    }

    .info-funtome {
        position: static;
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .info-photo-size {
        max-width: 100% !important;
    }

    .text {
        font-size: 20px;
    }

    .detalis-text {
        justify-content: center;
        align-items: center;
        margin-bottom: 120px;
    }

    /* Slider */

    .form-style {
        width: 100%;
    }

    .photo-style {
        width: 100px;
    }

    .title-instal {
        margin-top: 24px;
        margin-bottom: 90px;
        align-items: center;
    }

    .title-info {
        font-size: 40px;
    }

    .text-instal {
        font-size: 20px;
    }

    .text-first {
        font-size: 17px;
    }

    .text-info {
        font-size: 18px;
    }


    /* Footer */

    .footer-funtome {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }

    .footer-icon {
        margin-bottom: 50px;
    }

    .funtome-text {
        margin-bottom: 50px;
        font-size: 40px;
    }

    .footer-funtome .arrow-next {
        display: none;
    }

    .icon-style {
        width: 49px;
        height: 45px;
    }

    .footer-contact {
        font-size: 16px;
    }

}







@media screen and (max-width: 767px) {

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .intro.home .intro-container .box-intro {
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -104px;
        left: 0;
    }

    .home {
        background-image: url('/img/funtome-home/banner/header-photo_mobile.jpg');
        border-radius: 0 0 32px 32px;
    }

    .intro.home {
        position: relative;
    }

    .contetnt-subtitle {
        margin-bottom: 0;
    }

    /* Media style index */

    .intro.home {
        height: 609px;
    }

    .logo {
        width: 31px;
        height: 28px;
    }

    .local-switch {
        width: 26px;
        height: 26px;
        font-size: 13px;
        line-height: 15px;
    }

    .instal-apple {
        width: 21px;
        height: 27px;
        margin-right: 20px;
    }

    .instal-google {
        width: 21px;
        height: 23px;
    }

    .intro-content {
        margin-top: 7px;
    }

    .intro-container .butt-mobile > :first-child {
        margin-right: 20px;
    }
    
    .burger__item {
        width: 26px;
        height: 3px;
        border-radius: 3px;

    }

    .h1-ru {
        font-size: 40px;
        -webkit-text-stroke: 1.25px white;
        margin-bottom: 26px;
    }

    .h1-ru-white {
        font-size: 28px;
        top: 24px;
        left: 0;
        -webkit-text-stroke: 0.251997px rgba(0, 0, 0, 0.4);
    }

    .text-subtitle {
        font-size: 15px;
    }

    .text-red {
        font-size: 15px;
        text-align: center;
    }

    /* Butt mobile */
    
    .box-intro .butt-instal {
        padding: 9px 11px 6px 11px;
    }

    .title-instal {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 70px;
        margin-top: 20px;
    }

    .text-instal {
        width: 100%;
        font-size: 17px;
        margin-bottom: 15px;
    }

    .header-instal {
        align-items: flex-end;
    }

    .arrow-next::before {
        margin-left: 0;
    }

    .title-info {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .text-info {
        font-size: 15px;
    }

    .info-funtome {
        width: 100%;
    }

    .info-photo img {
        width: 100%;
    }

    .intro.home .border-box {
        width: 100%;
        max-width: 100%;
        height: 637px;
        background: linear-gradient(180deg, #989898 46.93%, #465B6F 95.86%);
        position: absolute;
        border-radius: 0 0 32px 32px;
        z-index: -1;
    }

    .box-intro .butt-mobile {
        margin-bottom: 13px;
    }
    
    .content-text {
        width: 100%;
        max-width: 360px;
        font-size: 15px;
        text-align: center;
        margin-bottom: 0;
        padding: 0 16px;
        color: #FFFFFF;;
    }


    /* Slider */

    .slider {
        margin-top: 141px;
    }

    .form-slider {
        width: 100%;
        max-width: 330px;
        transform: none;
    }

    .owl-carousel.owl-theme-1 .owl-nav button.owl-prev::before {
        width: 20px;
        background-image: url('/img/icon/prev_slider_tabl.svg');
    }
      
    .owl-carousel.owl-theme-1 .owl-nav button.owl-next::before {
        width: 20px;
        background-image: url('/img/icon/next_slider_tabl.svg');
    }

    .owl-carousel.owl-theme-1 .owl-dots {
        margin-top: 0;
        bottom: 0;
        margin-bottom: -20px;
    }

    .owl-carousel.owl-theme-1 .owl-item img {
        width: 100px;
    }

    .video {
        margin-top: 106px;
        margin-bottom: 20px;
    }

    .detalis-text {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .text {
        width: 100%;
        font-size: 17px;
        margin-bottom: 15px;
    }

    .conditiuns {
        flex-direction: column;
        align-items: center;
    }

    .style-conditions,
    .style-conditions-pol {
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        margin-right: 0;
    }

    .style-conditions {
        margin-bottom: 20px;
    }

    .title {
        font-size: 30px;
    }

    /* Footer */

    .footer-icon {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .funtome-text {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .footer-funtome {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer-contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .address {
        margin: 10px 0 10px 0;
    }

    .butt-apple,
    .butt-google {
        height: 50px;
    }

}



@media screen and (max-width: 359px) {

    .app {
        position: relative;
        min-width: 320px;
    }


    .intro-container .butt-mobile :first-child {
        margin-right: 0px;  
    }
    
    .h1-ru {
        font-size: 30px;
        -webkit-text-stroke: 1px white;
    }

    .h1-ru-white {
        font-size: 22px;
        top: 16px;
        left: 0;
        -webkit-text-stroke: 0.251997px rgba(0, 0, 0, 0.4);
    }

    .text-subtitle {
        font-size: 10px;
    }

    .intro-container .butt-mobile > :first-child {
        margin-bottom: 15px;
    }

    .funtome-text {
        text-align: center;
    } 

    .style-conditions-pol {
        line-height: 2;
    }

    .detalis-text .arrow-next::before {
        display: none;
    }

    /* Slider */

    .owl-carousel.owl-theme-1 .owl-item img {
        width: 100px;
    }

    .text-first {
        font-size: 15px;
    }

    /* Footer */

    .footer-funtome .butt-green-border {
        margin-bottom: 15px;
    }

    .footer .butt-mobile :first-child {
        margin-right: 0;
    }

    .footer-contact {
        font-size: 12px;
    }

    .mail::before {
        display: none;
    }

    .butt-mobile {
        flex-direction: column;
        width: fit-content;
    }

}    

     